
<nav class="navbar navbar-expand-lg  ">
<div class="container-fluid ">
    <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto   ">

        <li class="nav-item "><a class="text-decoration-none " [routerLink]="['inicio']">Inicio</a></li>
        <li class="nav-item "><a class="text-decoration-none " [routerLink]="['productos',1]">categoria 1</a>
        </li>
        <li class="nav-item "><a class="text-decoration-none " [routerLink]="['producto',1]">producto 1</a>
        </li>
        <li class="nav-item "><a class="text-decoration-none " [routerLink]="['cart']">Carrito</a></li>
      </ul>
    </div>
  </div>
</nav> 
<div class="buttons-carrito">
  <ul class="">
    <li class="fs-3" (click)="login()"><i class="bi bi-person"></i></li>
    <li class="fs-3" (click)="toFavorites()"><i class="bi bi-heart"></i></li>
    <li class="fs-3" (click)="toMyCart()"><i class="bi bi-bag-check"></i></li>
  </ul>
</div>