nav {
    z-index: 999;
}

.navbar-nav {
    padding: 0;
    background-color: rgb(251, 251, 255);
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 50vw;

    li {
        padding: 5px 5px;
    }

    a {
        color: red;
        font-size: 22px;
        text-transform: capitalize;
    }

    .navbar-toggler {
        color: white;
    }

}


.buttons-carrito {

    text-align: center;
    z-index: 999;
    position: absolute;
    top: 10px;
    right: 20px; 

    ul {
        display: inline-flex;
        gap: 20px;
    }

    li {
        list-style: none;
        background-color: white;
        padding: 5px;
        border-radius: 35px;
        cursor: pointer;
    }
}

@media (min-width:1024px) {
    .navbar-nav {
        justify-content: start;
        margin-left: 50px;
        a {
            padding: 10px;
        }
    }

    a:hover {
        color: white;
        background: rgba($color: #333333, $alpha: .3);
        padding: 10px;
        border-radius: 15px;
    }


.buttons-carrito {
    right: 40px; 

}
}