img.logo-imagen{
    width:300px;
    position:absolute;
    top:0px;   
    z-index:97;  
}
img >.logo-movil{
    width:100vw;
    position:absolute;
    top:0px;   
    
}
.inicio{
    margin:5px 0;


}
