th:has(i) {
    cursor: pointer;
}

td {
    span {
        vertical-align: middle !important;
    }

    .img {
        //   background-image: url('https://media.istockphoto.com/id/1453988940/es/foto/sombrero-de-cubo-blanco-aislado-sobre-blanco.jpg?s=1024x1024&w=is&k=20&c=LrvqYzkDYBmBpVAc6o6cHQEDCweJOIyaDUArKEcEhUc=')!important;
        background-size: cover;
        background-position: center;
        height: 100px;
        width: 100px;
        border-radius: 16px;
        margin:0 auto;

    }
}