<div class="row p-1 p-lg-5 ">
  <div class="col-12 mb-2">
    <app-title title="Categorias ({{store.categoriesCount()}})" />
    <button data-bs-toggle="modal" data-bs-target="#NewCategory" class="btn btn-primary fs-5 ">Nueva Categoría</button>
  </div>

  <section class="col-12 ">
    <article class="card  rounded-3 mt-1 z-1">
      <div class="p-3 px-5 card-body table-responsive shadow-lg">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item btn btn-outline-primary" (click)="store.previousPagePaginator()">
             Previous
            </li>
           
            <li class="page-item btn btn-outline-primary ms-2" (click)="store.nextPagePaginator()">
              Next
            </li>
          </ul>
        </nav>
        <table class="table table-bordered border-secondary table-striped w-100 text-center  ">
          <thead>
            <tr class="row ">
              <th class="col-2 bg-indigo text-light">Id</th>
              <th class="col-3 bg-indigo text-light">Nombre</th>
              <th class="col-2 bg-indigo text-light">Imagen-url</th>
              <th class="col-2 bg-indigo text-light">Imagen</th>
              <th class="col-1 bg-indigo text-light">status</th>
              <th class="col-1 bg-indigo text-light">Edit</th>
              <th class="col-1 bg-indigo text-light">Delete</th>
            </tr>
          </thead>
          <tbody>
            @for (category of store.categories(); track $index) {

              @if ( ($index >= store.pagePagination() *4) && ($index <(store.pagePagination() + 1 )*4)   ) {
            <tr class="row ">
              <td class="col-2 d-flex align-items-center justify-content-center">{{category.id}}</td>
              <td class=" col-3 fs-3 d-flex align-items-center justify-content-center"><span class="">{{category.name}}</span></td>
              <td class=" col-2 d-flex align-items-center justify-content-center fs-4 "><a href="{{category.imagenUrl}}" target="_blank">Imagen Externa</a></td>

              <td class=" col-2 "> <div [ngStyle]="{'background-image':'url('+ category.imagenUrl +')'}" class="img  "> </div>
                
              </td>
              <td class=" col-1 text-white d-flex align-items-center justify-content-center fs-5" (click)="changeStatus(category)"
                [ngClass]="{'bg-success': category.status,'bg-danger':!category.status}" style="cursor: pointer;">
                {{ category.status?"Activa":"Deshabilitada"}}
              </td>
              <td class=" col-1 bg-warning text-black fs-3 d-flex align-items-center justify-content-center" (click)="editCategory(category,NewCategory)"><i
                  class="bi bi-pencil-square"></i></td>
              <td class=" col-1 bg-danger text-white fs-3 d-flex align-items-center justify-content-center" (click)="deleteCategory(category)"><i
                  class="bi bi-trash3"></i></td>
            </tr>
            }
            }
          </tbody>
        </table>
      </div>
    </article>

  </section>
</div>
<div class="modal fade" id="NewCategory" #NewCategory tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm">
          <div class="mb-3">
            <label for="nameInput1" class="form-label">Nombre</label>
            @if(categoryEditable){
            <input type="text" class="form-control" id="nameInput1" placeholder="Nombre de categoria"
              formControlName="name" value="{{categoryEditable.name}}">
            }@else {
            <input type="text" class="form-control" id="nameInput1" placeholder="Nombre de categoria"
              formControlName="name">
            }
          </div>
          <div class="mb-3">
            <label for="nameInput2" class="form-label">Url de imagen</label>
            @if(categoryEditable){
            <input type="url" class="form-control" id="nameInput2" rows="3" formControlName="imagenUrl"
              value="{{categoryEditable.imagenUrl}}" />
            }@else {
            <input type="url" class="form-control" id="nameInput2" rows="3" formControlName="imagenUrl" />
            }
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #button>Cerrar </button>
        @if (categoryEditable) {
        <button type="button" class="btn btn-warning" (click)="editCategoryData(button)">Editar </button>
        }@else {
        <button type="button" class="btn btn-red" (click)="saveCategory(button)">Guardar</button>
        }
      </div>
    </div>
  </div>
</div>